@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,700,200,600);
@import url("https://fonts.googleapis.com/css?family=Prata");
@import 'https://fonts.googleapis.com/css?family=Prata';
.nav {
  background: #5a1946;
  width: 100%;
  padding: 20px;
  height: 40px;
  color: white;
  border-bottom: 5px solid #c8003c; }

.nav a {
  color: white;
  text-decoration: none; }

.logo {
  font-family: 'Prata', 'Georgia', 'Times New Roman', 'Times', serif;
  font-size: 32px;
  color: white; }

.logo:hover {
  color: white; }

#logo-muted {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300; }

html {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  background: #f0f0eb; }

.container {
  margin: 20px;
  padding: 20px;
  background: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 900px;
  height: auto;
  box-shadow: 0px 0px 6px #c8c8c8; }

.section_hero {
  border-bottom: 1px solid #c8c8c8;
  width: 860px;
  padding: 20px 0px; }

.section_main {
  border-bottom: 1px solid #c8c8c8;
  width: 860px;
  padding: 20px 0px; }

.body_main {
  display: -ms-flexbox;
  display: flex;
  wrap: nowrap;
  width: auto; }

.aside_main {
  border-top: 1px solid #c8c8c8;
  width: 240px;
  margin: 0px 20px 0px 0px; }

h5#aside_header {
  text-transform: uppercase;
  margin: 10px 0px 0px 0px; }

h5#article_header {
  text-transform: uppercase;
  margin: 10px 0px 0px 0px; }

.article_main {
  width: 600px;
  border-top: 1px solid #c8c8c8; }

.aside_main_nav {
  margin: 10px 0px;
  padding: 0px;
  list-style-type: none; }

#aside_main_nav_item {
  list-style-type: none; }

.card {
  width: 160px;
  height: 260px;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #c8003c;
  border-radius: 6px;
  box-shadow: 0px 0px 3px #c8c8c8; }

.card_deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.card_image {
  width: 160px;
  height: 160px;
  object-fit: cover; }

.card_body {
  border-top: 1px solid #c8c8c8;
  margin: 5px 0px 0px 0px; }

.card_birthday,
.card_origin {
  display: none; }

p {
  font-size: 14px;
  line-height: 16px;
  color: #323232; }

h1.super {
  font-size: 42px;
  color: #969696;
  font-weight: 200; }

h1 {
  font-size: 36px;
  color: #646464;
  font-weight: 400; }

h2 {
  font-size: 24px;
  color: #646464;
  font-weight: 700; }

h3 {
  font-size: 18px;
  color: #646464;
  font-weight: 400; }

h4 {
  font-size: 16px;
  color: #969696;
  font-weight: 300; }

h5 {
  font-size: 12px;
  color: #969696;
  font-weight: normal; }

a {
  color: #c8003c;
  text-decoration: none; }
  a:hover {
    color: #c6003b; }
  a:visited {
    color: #c7003c; }

a.primary {
  border: 1px solid #c8003c;
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #c8003c;
  background-color: white;
  border-radius: 6px;
  cursor: pointer; }

a.primary:hover {
  border: 1px solid #c8003c;
  background-color: #c8003c;
  color: white; }
