@import url(https://fonts.googleapis.com/css?family=Catamaran:400,300,500,700,200,600);
html {
  font-family: 'Catamaran', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  background: #fafafa; }
