@import 'https://fonts.googleapis.com/css?family=Prata';


$mirage-primary: rgb(90,25,70);
$mirage-secondary: rgb(200,0,60);

.nav{
    background: $mirage-primary;
    width: 100%;
    padding: 20px;
    height: 40px;
    color: white;
    border-bottom: 5px solid $mirage-secondary;
}

.nav a{
    color: white;
    text-decoration: none;
}

.logo{
    font-family: 'Prata', 'Georgia', 'Times New Roman', 'Times', serif;
    font-size: 32px;
    color: white !important;
}

.logo:hover{
    color: white;
}

#logo-muted{
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: rgba(255,255,255,0.4);    
    font-weight: 300;
}

